.header{
  display: flex;
  align-items: center;
}

.navigation {
  list-style: none;
  display: flex;
}

.navigation li {
  margin-right: 20px;
}

.showcase-base {
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.showcase-base img {
  border: 5px solid #333;
  border-radius: 10px;
  margin-bottom: 20px;
}

.showcase-base h2 {
  color: #333;
  font-size: 1.5em;
  margin-top: 20px;
}

.showcase-base p {
  font-size: 1.2em;
  color: #666;
}