.header {
  display: flex;
  align-items: center;
  background-color: #3d52a0;
  padding: 10px 20px;
}

.navigation {
  display: flex;
  font-size: 1.0em;
  font-family: verdana, arial; 
  list-style-type: none;
}

.navigation li {
  margin-right: 20px;
}

.navigation li:last-child {
  margin-right: 20px;
}

.navigation li:hover {
  margin-right: 20px;
  text-decoration-line: none;
}

.navigation a {
  text-decoration: none;
  color: #ede8f5;
  font-size: 20px;
  padding: 5px 10px;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: background-color 0.3s, border-color 0.3s;
}

.navigation a:hover {
  background-color: #ede8f5;
  color: #3d52a0;
  border-color: #ede8f5;
}

.showcase {
  font-family: verdana, arial;
  background-color: #ede8f5;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.showcase img {
  border: 5px solid #333;
  border-radius: 10px;
  margin-bottom: 20px;
}

.details-header, .hub-info-header {
  background-color: #3d52a0;
  color: white;
  padding: 10px;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 10px;
  border: 1px solid #ddd;
  word-wrap: break-word; /* Prevents overflow */
}


.label {
  text-align: left;
  font-weight: bold;
  color: #3d52a0;
}

.value {
  text-align: left;
  color: #3d52a0;
}

.coordinates {
  padding-left: 30px;
  text-align: left;
  color: #3d52a0;
  font-weight: bold;
}

.date {
  text-align: right;
  font-style: italic;
  color: #3d52a0;
  font-size: 20px;
}